body{
    background-color: #eeeeee;
}
.header{
    background-color: blue;
    color: white;
    max-height: 50px;
    min-height: 50px;
    position: fixed;
    width: 100%;
    margin-top: 0px;
    z-index: 3;
    padding-top: 7px;
}
.Link {
    color: white;
    border-radius: 5px;
    border-bottom: 2px solid white;
}
.Link a:hover{
    border-color: white;
    color: white;
}
.postCat{
    top: 45px;
    position: relative;
    border-radius: 5px;
    z-index: 2;

}
.post{
    z-index: -1;
    border: 2px solid #eeeeee;
    color: black;
    padding-top: 10px;
    
}
.fixedPoint{
    position: fixed;
}
.bg-signup {
    background: url("images/connection.png");
    background-position: center;
    background-size: cover;
  }
